<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/style.css">
    <script defer src="/static/script.js"> </script>
    <title>Sea Shanty Encyclopedia</title>
  </head>

  <body>
    <p class="title">Sea Shanty Encyclopedia   </p>

    <table class="center">
      {% for shanty in shantys %}
        <tr>
          <td>
            {{shanty.Name}}
          </td>
        </tr>
        {% endfor %}
    </table>

    <div class="entry">
      <button class="btn" onclick="dropdown('box1')">Title</button>
      <div class="dropdown" id="box1">
        <p> </p>
        <p class="dropdownText"> Also known as: </p>
        <p class="dropdownText"> Country of origin: </p>
        <p class="dropdownText"> Language: </p>
        <p class="dropdownText"> Description: </p>
        <p class="dropdownText"> Lyrics: </p>
      </div>
    </div>

  </body>
</html>
