<!DOCTYPE html>
<html>
  <head>
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
    <link rel="manifest" href="/static/site.webmanifest">
    <link rel="mask-icon" href="/static/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="/static/style.css">
    <script defer src="/static/script.js"> </script>
    <title>Sea Shanty Encyclopedia</title>
  </head>

  <body>
    <div class="entry">
      <div class="column">
        <img src="/static/ds.gif" class="smallImage" alt="Dancing sailor">
      </div>
      <div>
        <p class="title">Sea Shanty Encyclopedia   </p>
      </div>
    </div>
    <div class="navbar">
      <table>
        <tr>
          <th> <form method="" action="/gotoShanty">
            <input type="submit" class="smallButton" value="Shanties">
          </form> </th>

          <th> <form method="" action="/gotoInfo">
            <input type="submit" class="smallButton" value="What are shanties?">
          </form> </th>

          <th>{% if session.admin =='yes'%}
           <!-- Do nothing -->
          {% else %}
          <form method="" action="/login">
            <input type="submit" class="smallButton" value="Log in">
          </form>
          {% endif %}</th>

          <th> <select class="dropdownselect" name="goto">
            {% for shanty in shantys %}
              <option value="#{{shanty.Name|replace(' ','_') }}"> {{shanty.Name}} </option>
            {% endfor %}
          </select> </th>

          <th> <button id="gotoButton"> Go to </button> </th>



        </tr>
      </table>
    </div>

    {% if session.admin == 'yes' %}
    <div class="entry">
      <div id="AdminPanel" class="AdminPanel">
        <p> You are logged in! </p>
        <p> Admin Panel</p>
        <p> Add a new shanty </p>
        <form method="POST" action="/">
          <p> Name: <input type="text" id="new_name" name="new_name"> </p>
          <p> Alternative name: <input type="text" id="new_altName" name="new_altName"> </p>
          <p> Country of Origin: <select name="new_country" id="new_country"> </p> <!-- This is inefficent but i will work for now -->
            <option value="United Kingdom"> United Kingdom </option>
            <option value="Germany"> Germany </option>
            <option value="France"> France </option>
            <option value="Netherlands"> Netherlands </option>
            <option value="Norway"> Norway </option>
            <option value="Denmark"> Denmark </option>
            <option value="Australia"> Australia </option>
            <option value="New Zealand"> New Zealand </option>
            <option value="United States"> United States </option>
            <option value="Mexico"> Mexico </option>
            <option value="Brazil"> Brazil </option>
            <option value="Poland"> Poland </option>
          </select>
          <p> Language: <select name="new_language" id="new_language"> </p>
            <option value="English"> English </option>
            <option value="High German"> High German </option>
            <option value="Norwegian"> Norwegian </option>
            <option value="French"> French </option>
            <option value="Polish"> Polish </option>
          </select>
          <p> Description: </p>
          <textarea id="new_description" name="new_description" cols="90" rows="10"></textarea>
          <p> Lyrics </p>
          <textarea id="new_lyrics" name="new_lyrics" cols="60" rows="15"></textarea>
          <p> Audio Source: <input type="text" id="new_audioSource" name="new_audioSource"> </p>
          <input type="submit" value="Add">
        </form>
        <br>
        <form method="POST" action="/delete">
          <select name="delete_country" id="delete_country">
            {% for shanty in shantys %}
              <option value="{{shanty.Name}}"> {{shanty.Name}} </option>
            {% endfor %}
          </select>
          <button id="safetyButton" onclick="areYouSure()" type="button"> Delete </button>
          <div class="hide" id="deleteButton">
            <input type="submit" value="Are you sure?">
          </div>
        </form>
        <br>
        <form method="POST" action="/update">
          <p> Update: </p>
          <select name="update_name" id="update_name">
            {% for shanty in shantys %}
              <option value="{{shanty.Name}}"> {{shanty.Name}} </option>
            {% endfor %}
          </select>
          <input type="submit" value="Modify this shanty">
        </form>
        <br>
        <form method="POST" action="/logout">
          <input type="submit" value="Log Out">
        </form>
      </div>
    </div>
    {% endif %}

    {% for shanty in shantys %}
    <div class="entry collapsed" id="{{shanty.Name|replace(' ','_')}}">
      <button class="btn">{{shanty.Name}}</button>
        <div class="info">
          <p> </p>
          <p class="dropdownText"> <b>Also known as:</b> {{shanty.Alternative_Names}}</p>
          <p class="dropdownText"> <b>Country of origin:</b> {{shanty.Country_Origin}}</p>
          <p class="dropdownText"> <b>Language:</b> {{shanty.Language}}</p>
          <p class="dropdownText"> <b>Description:</b> {{shanty.Description}}</p>
          <p class="dropdownText"> <b>Lyrics:</b> </p>
          <textarea readonly cols="60" rows="15">{{shanty.Lyrics}}</textarea>
          <br>
          <audio controls>
            <source src="/static/{{shanty.AudioSource}}" type="audio/mpeg">
          </audio>
        </div>
        <!-- <a name="{{shanty.Name}}"> -->
    </div>
    {% endfor %}

  </body>
</html>
