<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/style.css">
    <script defer src="/static/script.js"> </script>
    <title>Sea Shanty Encyclopedia</title>
  </head>

  <body>
    <p class="title">Sea Shanty Encyclopedia   </p>
    {% if session.admin =='yes'%}
    <p> You are logged in! </p>
    {% else %}
    <form method="" action="/login">
      <input type="submit" value="Log in">
    </form>
    {% endif %}

    {% if session.admin == 'yes' %}
    <div class="entry">
      <div id="AdminPanel" class="AdminPanel">
        <p> Admin Panel</p>
        <p> Add a new shanty </p>
        <form method="POST" action="/">
          <p> Name: <input type="text" id="new_name" name="new_name"> </p>
          <p> Alternative name: <input type="text" id="new_altName" name="new_altName"> </p>
          <p> Country of Origin: <select name="new_country" id="new_country"> </p> <!-- This is inefficent but i will work for now -->
            <option value="United Kingdom"> United Kingdom </option>
            <option value="Germany"> Germany </option>
            <option value="France"> France </option>
            <option value="Netherlands"> Netherlands </option>
            <option value="Norway"> Norway </option>
            <option value="Denmark"> Denmark </option>
            <option value="Australia"> Australia </option>
            <option value="New Zealand"> New Zealand </option>
            <option value="United States"> United States </option>
            <option value="Mexico"> Mexico </option>
            <option value="Brazil"> Brazil </option>
            <option value="Poland"> Poland </option>
          </select>
          <p> Language: <select name="new_language" id="new_language"> </p>
            <option value="English"> English </option>
            <option value="High German"> High German </option>
            <option value="Norwegian"> Norwegian </option>
            <option value="French"> French </option>
            <option value="Polish"> Polish </option>
          </select>
          <p> Description: </p>
          <textarea id="new_description" name="new_description" cols="90" rows="10"></textarea>
          <p> Lyrics </p>
          <textarea id="new_lyrics" name="new_lyrics" cols="60" rows="15"></textarea>
          <p> Audio Source: <input type="text" id="new_audioSource" name="new_audioSource"> </p>
          <input type="submit" value="Add">
        </form>
        <br>
        <form method="POST" action="/delete">
          <select name="delete_country" id="delete_country">
            {% for shanty in shantys %}
              <option value="{{shanty.Name}}"> {{shanty.Name}} </option>
            {% endfor %}
          </select>
          <button id="safetyButton" onclick="areYouSure()" type="button"> Delete </button>
          <div class="hide" id="deleteButton">
            <input type="submit" value="Are you sure?">
          </div>
        </form>
        <br>
        <form method="POST" action="/update">
          <p> Update: </p>
          <select name="update_name" id="update_name">
            {% for shanty in shantys %}
              <option value="{{shanty.Name}}"> {{shanty.Name}} </option>
            {% endfor %}
          </select>
          <input type="submit" value="Modify this shanty">
        </form>
        <br>
        <form method="POST" action="/logout">
          <input type="submit" value="Log Out">
        </form>
      </div>
    </div>
    {% endif %}

    <br>

    {% for shanty in shantys %}
    <div class="entry">
      <button class="btn" onclick="dropdown('box1')">{{shanty.Name}}</button>
        <p> </p>
        <p class="dropdownText"> Also known as: {{shanty.Alternative_Names}}</p>
        <p class="dropdownText"> Country of origin: {{shanty.Country_Origin}}</p>
        <p class="dropdownText"> Language: {{shanty.Language}}</p>
        <p class="dropdownText"> Description: {{shanty.Description}}</p>
        <p class="dropdownText"> Lyrics: </p>
        <textarea readonly cols="60" rows="15"> {{shanty.Lyrics}} </textarea>
        <br>
        <audio controls>
          <source src="/static/{{shanty.AudioSource}}" type="audio/mpeg">
        </audio>
    </div>
    <p> </p>
    {% endfor %}




  </body>
</html>
