<!DOCTYPE html>

<head>
  <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
  <link rel="manifest" href="/static/site.webmanifest">
  <link rel="mask-icon" href="/static/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" href="/static/style.css">
  <title>Update Shanty</title>
</head>

<body>
  <form method="POST" action="/finishUpdate">
    {% for shanty in shantys %}
    <div class="entry">
      <p class="btn"><input type="text" id="updated_name" name="updated_name" value="{{shanty.Name}}"></p>
        <p> </p>
        <p class="dropdownText"> Also known as: <input type="text" id="updated_altNames" name="updated_altNames" value="{{shanty.Alternative_Names}}"></p>
        <p class="dropdownText"> Country of origin: <input type="text" id="updated_country" name="updated_country" value="{{shanty.Country_Origin}}"></p>
        <p class="dropdownText"> Language: <input type="text" id="updated_language" name="updated_language" value="{{shanty.Language}}"></p>
        <!-- <p class="dropdownText"> Description: <input type="text" size="200" id="updated_description" name="updated_description" value="{{shanty.Description}}"> </p> -->
        <p class="dropdownText"> Description: </p>
        <textarea id="updated_description" name="updated_description" cols="90" rows="10">{{shanty.Description}} </textarea>
        <p class="dropdownText"> Lyrics: </p>
        <textarea name="updated_lyrics" id="updated_lyrics" cols="60" rows="15">{{shanty.Lyrics}}</textarea>
        <p> Audio Source: <input type="text" id="updated_audioSource" name="updated_audioSource" value="{{shanty.AudioSource}}"> </p>
        <audio controls>
          <source src="/static/{{shanty.AudioSource}}" type="audio/mpeg">
        </audio>
    </div>
    {% endfor %}
    <input type="submit" value="Save and return">
  </form>
</body>
