@import url('https://fonts.googleapis.com/css2?family=Hind&display=swap');

/* Colors! https://coolors.co/2a2b2a-dcdcdd-3d5a6c-72a98f-1985a1 */
:root {
  --c1: #DCDCDD; /* Soft grey - background color */
  --c2: #2A2B2A; /* Softish black - Fonts and borders */
  --c3: #58829D; /* Navy Blue - Highlights*/
  --c4: #F5F5F5; /* White */
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--c4);
  font-family: Hind;
  margin-left: 0;
  margin-right:0;
  color: var(--c3);
}

.collapsed .info {
  display: none;
}

.hide {
  display: none;
}

.title {
  font-size: 35px;
  margin-bottom: 5px;
}

.navbar {
  list-style-type: none;
  height:30px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0px;
  border-style: solid;
  border-radius: 0px;
  border-color: black;
  border-width: 2px;
  background-color:white;
  padding-left:10px;
  border-left:0px;
  border-right:0px;
  padding:4px;
}

.navtable {
  width:40px;
}

.dropdown {
  font-size: 20px;
  display: none;

}

.dropdownText {
  margin:2px;
}

.AdminInput {
  display:block;
}

.btn {
  border: solid;
  border-width: 2px;
  border-radius: 5px;
  font-size: 20px;
  border-color: rgba(42, 43, 42, 0.75);
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
  text-decoration: none;
  outline: none;
  color:var(--c3);
  background-color:white;
}

.btn:hover {
  color:var(--c3);
}

.smallButton {
  background-color:var(--c4);
  color:var(--c3);
  border-color: var(--c2);
}

.entry {
  margin-left: 20px;
  margin-top: 5px;
  margin-right: 30px;
  padding: 15px;
  border-style: solid;
  border-radius: 5px;
  border-color: black;
  border-width: 2px;
  background-color:white;
}
